.page {
  background-color: #252525;
  font-style: italic;
  color: var(--color-text);
  background-image: url(../images/1678783096_zefirka-club-p-fon-blek-20.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-width: 375px;
  height: 100vh;
  align-content: start;
}

.navigation_list_header {
  display: grid;
  justify-content: end;
  align-self: start;
  margin-inline-end: 5px;
  margin-block-start: 30px;
  grid-row: 1;
}

.list_header {
  display: grid;
  align-self: center;
  gap: 10px;
}

.button_list_header {
  width: 79px;
  height: 22px;
  border-radius: 50px;
  background-color: var(--color-text);
  border: none;
}

.link_list_header {
  text-decoration: none;
  font-family: var(--font-services-list);
  font-size: 16px;
  font-weight: 600;
  color: #616161;
}

.header_title_text {
  grid-row: 2;
}

.header_title {
  display: grid;
  justify-content: center;
  font-family: var(--main-font);
  font-size: clamp(7.1875rem, 5.9235rem + 5.3929vw, 9.375rem);
  font-weight: normal;
  line-height: 0.9;
  margin-block-end: 5px;
}

.header_text {
  display: grid;
  justify-content: center;
  font-size: clamp(1.6875rem, 1.5069rem + 0.7704vw, 2rem);
  letter-spacing: 0.7px;
}

.main {
  margin: 25px 29px;
}

.about {
  text-align: center;
  margin-block-end: 25px;
}

.title_section {
  font-size: 32px;
  font-family: var(--main-font);
  font-weight: normal;
  margin-block-end: 20px;
}

.about_text {
  font-size: 18px;
  font-family: var(--main-font);
  line-height: 25px;
  letter-spacing: 2px;
  font-weight: normal;
}

.services {
  text-align: center;
}

.article_services_list {
  text-align: start;
  font-family: var(--font-services-list);
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
}

.title_list_services {
  font-weight: normal;
}

.services_list {
  margin-block-start: 0;
  padding-inline-start: 29px;
}

.services_list_item {
  line-height: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 240px;
  height: 100vh;
}

.footer_title {
  font-family: var(--main-font);
  font-size: clamp(7.1875rem, 5.9235rem + 5.3929vw, 9.375rem);
  font-weight: normal;
  margin-bottom: -24px;
}

.footer_text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 20px;
  margin-block-end: 5px;
}

.footer_text:first-of-type {
  font-size: 27px;
  color: var(--color-text);
}

.footer_link {
  position: relative;
}

.footer_link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  transform: scaleX(0);
  transition: transform 1s ease;
}

.footer_link:hover::after {
  transform: scaleX(1);
}

.footer_text:last-child {
  font-size: 19px;
}

@media (width >= 376px) {
  .navigation_list_header {
    display: none;
  }

  .header_title {
    margin-left: -17px;
  }

  .main {
    display: grid;
    grid-template-columns: 317px auto;
    margin-block-start: 45px;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    gap: 200px;
  }

  .about {
    grid-column: 1;
  }

  .services {
    grid-column: 2;
  }

  .footer {
    margin-block-start: 0;
  }

  .footer_text:first-of-type {
    font-size: 32px;
    margin-bottom: -4px;
  }

  .footer_text {
    font-size: 27px;
  }

  .footer_text:last-child {
    font-size: 25px;
  }

}